

.main-body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 82, 82);
    /* background: rgb(255,117,130); */
    /* background: linear-gradient(333deg, rgba(255,117,130,1) 25%, rgba(47,189,255,1) 75%); */
    border-radius: 30px;
    display: flex;
}